<a href="https://colab.research.google.com/github/rohitgugan-a4693/FDSA-assignment/blob/main/Performing_Z_test_and_T_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 1. Z-test using formula

# imports libraries
import math
import numpy as np
from numpy.random import randn
from statsmodels.stats.weightstats import ztest

#Z-test Formula values
mean_iq = 110
sd_iq = 15/math.sqrt(50)
alpha =0.05
null_mean =100
data = sd_iq*randn(50)+mean_iq

#Print mean and sd

print('mean=%.2f stdv=%.2f' % (np.mean(data), np.std(data)))

#Performing Z-test

ztest_Score, p_value= ztest(data,value = null_mean, alternative='larger')

#Hypothesis

if(p_value < alpha):
  print("Reject Null Hypothesis")
else:
  print("Accept NUll Hypothesis")

mean=109.63 stdv=2.28
Reject Null Hypothesis

In [5]:
# 2. Ztest using dataset

#import libraries
import pandas as pd
from statsmodels.stats import weightstats as stests

#Read CSV file
df = pd.read_csv(r"/content/Iris.csv")

#describe the value
df[['PetalLengthCm','PetalWidthCm']].describe()

#By using the Z-test in Stats
ztest ,propability_value = stests.ztest(df['PetalWidthCm'], x2=None, value=146)
print(float(propability_value))

#Hypothesis
if propability_value<0.05:
    print("Null hyphothes is rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

0.0
Null hyphothes is rejected , Alternative hyphothesis accepted

In [6]:
#3.Two tail Z-test(using python inbuild function)
#Import libraries
from statsmodels.stats.weightstats import ztest as ztest

#entering a simple value
A = [82, 84, 85, 89, 91, 91, 92, 94, 99, 99,
         105, 109, 109, 109, 110, 112, 112, 113, 114, 114]

B = [90, 91, 91, 91, 95, 95, 99, 99, 108, 109,
         109, 114, 115, 116, 117, 117, 128, 129, 130, 133]

#perform two sample z-test
ztest(A, B, value=0)

(-1.9953236073282115, 0.046007596761332065)

In [7]:
#5.T-test(one sample)
#Import Python librarie
import numpy as np
from scipy import stats 
from numpy.random import seed
from numpy.random import randn
from numpy.random import normal
from scipy.stats import ttest_1samp

In [8]:
#Create a random sample group
seed=(1)
sample =normal(150,10,20)
print('Sample: ', sample)

Sample:  [132.2893744  152.70900497 128.44001966 147.74610841 168.42199634
 147.65256347 137.70467335 157.28237321 133.92234918 153.81515847
 159.01380112 152.5898251  149.74728796 133.04989848 125.68291126
 143.97912423 136.71887776 149.78441917 157.54757596 167.92962477]

In [9]:
#Conduct the test
t_stat, p_value = ttest_1samp(sample, popmean=155)
print("T-statistic value: ", t_stat)  
print("P-Value: ", p_value)

T-statistic value:  -2.9345021095281587
P-Value:  0.008507663156102973

In [10]:
#Result
if p_value <= t_stat:
  print("Reject the null hypothesis")
else:
  print("Accept the null hypothesis")

Accept the null hypothesis

In [11]:
#6.T-test(two-tailed test)
#Import libraries
from numpy.random import seed
from numpy.random import randn
from numpy.random import normal
from scipy.stats import ttest_ind

In [12]:
# seed the random number generator
seed(1)
# create two independent sample groups
sample1= normal(30, 16, 50)
sample2=normal(33, 18, 50)
print('Sample 1: ',sample1)
print('Sample 2: ',sample2)

Sample 1:  [55.98952582 20.21189738 21.54925196 12.83250205 43.84652207 -6.82461915
 57.91698823 17.82068959 35.10462554 26.01007399 53.39372699 -2.96225135
 24.84132474 23.85513033 48.14031108 12.40173972 27.24114868 15.95426531
 30.67541995 39.32504342 12.39009316 48.31557936 44.42545153 38.03990942
 44.41369519 19.06035425 28.03375639 15.02768905 25.71379073 38.48568747
 18.93342797 23.65194357 19.0052368  16.47670974 19.26006191 29.79736642
 12.12303442 33.75065117 56.55683483 41.87270657 26.93063116 15.79793657
 18.0454673  57.07927362 30.81292408 19.80806965 33.05464775 63.60408218
 31.92254324 39.87524976]
Sample 2:  [38.40306576 26.65950276 12.43467244 26.711831   29.2399038  43.55921744
 48.10170145 49.75983746 38.14057185 48.93254096 19.42083706 55.55162679
 42.23273677 27.63432897 41.79332664 31.63970917 53.36932897 60.3567027
 72.34035732  7.86306596  7.0059515  23.91961447 35.88066725 48.77104058
 38.68142905 -3.39962188 27.48832777 47.90354357 37.14170524 46.71620125
 28.99809343 29.38635476 36.35810504 40.38092965 36.56939496 35.14215562
 20.92807885 39.79614815 35.19278288 53.33071034 54.58052184 36.33281551
 26.2448709  21.50285267 40.62289837 34.39212123 26.81063384 33.78474342
 21.83998481 45.56457661]

In [13]:
#Conduct the test
t_stat, p_value = ttest_ind(sample1, sample2)
print("T-statistic value: ", t_stat)  
print("P-Value: ", p_value)

T-statistic value:  -2.020799500150909
P-Value:  0.046028526548752335

In [14]:
#Result
if p_value <= t_stat:
  print("Reject the null hypothesis")
else:
  print("Accept the null hypothesis")

Accept the null hypothesis